n8n-json/ZNS ORD (Đánh giá Eng).json
{
  "name": "ZNS ORD (Đánh giá Eng)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "secret_key",
              "value": "=YOUR_ZALO_ORD_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "2163459737026406066"
            },
            {
              "name": "grant_type",
              "value": "=authorization_code"
            },
            {
              "name": "code_verifier",
              "value": "GO6IIHAxCuiyr0DB8t8ELOgEmqfH5XcAOAGZBx0Nawl"
            },
            {
              "name": "redirect_uri",
              "value": "https://bonstu.site/webhook/zns-done"
            },
            {
              "name": "code",
              "value": "={{$json[\"query\"][\"code\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        -896
      ],
      "id": "fb519476-4d76-4102-a323-e16411475d1f",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://business.openapi.zalo.me/message/template",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.zalo_phone }}\",\n  \"template_id\": \"512158\",\n  \"template_data\": {\n    \"order_code\": \"{{ $json.BG }}\",\n    \"name\": \"{{ $json.user }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -128
      ],
      "id": "211a0ef8-a636-4817-82be-f59ba2817ac2",
      "name": "Send ZNS",
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "rating-ord-eng-get-token",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        -896
      ],
      "id": "17d48bc6-7b27-4d95-9400-a286bc626053",
      "name": "Webhook1",
      "webhookId": "4aa5b86f-b441-4b9d-a3c0-74c4e72de373",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "refresh_token": "={{ JSON.parse($json[\"data\"]).refresh_token }}",
            "access_token": "={{ JSON.parse($json[\"data\"]).access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        -352
      ],
      "id": "b555ba9a-86a9-4d21-85a7-2977fe5a6ebd",
      "name": "Get Refresh"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rating-ord-eng",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -128
      ],
      "id": "e7f39de9-29e0-4ea3-86e9-17cbef8b6ca8",
      "name": "Webhook2",
      "webhookId": "ad5f90b4-e372-48c2-a4cb-3f76e0f7e6b3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        -144
      ],
      "id": "3f50ab79-640e-4ce4-8125-a933247ab632",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -736,
        -352
      ],
      "id": "435b93e6-0bdd-4dba-8186-6fefab75005f",
      "name": "Get Token"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $json.body.x_studio_tn_khch_hng }}",
            "BG": "={{ $json.body.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "zalo_phone",
              "displayName": "zalo_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BG",
              "displayName": "BG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        -128
      ],
      "id": "74bd376b-45e3-4965-9126-7eaff843656a",
      "name": "Update Infomation of BG"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens_ORD",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "zalo_phone": "={{ $json.zalo_phone }}",
            "Date": "={{ $json.date_ddmmyyyy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "zalo_phone",
              "displayName": "zalo_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "BG",
              "displayName": "BG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        64
      ],
      "id": "a0a0ec27-09b3-43db-9076-a85e52d4efd2",
      "name": "Update Phone Number"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "secret_key",
              "value": "YOUR_ZALO_ORD_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "2163459737026406066"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$json.refresh_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        -352
      ],
      "id": "972c1a07-e45c-40ea-86f0-258552c721cc",
      "name": "Get Refresh Token"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || {};\n\n  // ---------- PHONE NORMALIZE ----------\n  let phone = body.x_studio_phone || \"\";\n  phone = phone.replace(/\\D/g, \"\");      // remove non-digits\n\n  if (phone.startsWith(\"0\")) {\n    phone = \"+84\" + phone.slice(1);\n  }\n  item.json.zalo_phone = phone;\n\n  // ---------- DATE FORMAT DD/MM/YYYY ----------\n  const rawDate = body.date_order;       // e.g. \"2025-11-17 02:40:31\"\n  if (rawDate) {\n    const d = new Date(rawDate.replace(\" \", \"T\"));\n    const dd = String(d.getDate()).padStart(2, \"0\");\n    const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n    const yyyy = d.getFullYear();\n    item.json.date_ddmmyyyy = `${dd}/${mm}/${yyyy}`;   // → \"17/11/2025\"\n  } else {\n    item.json.date_ddmmyyyy = \"\";\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        64
      ],
      "id": "71ee9a11-6389-42a8-a526-2f7760f1e1f0",
      "name": "Normalize Phone"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Infomation of BG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send ZNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Get Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Infomation of BG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update Phone Number": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh Token": {
      "main": [
        [
          {
            "node": "Get Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone": {
      "main": [
        [
          {
            "node": "Update Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "df00aab8-70c7-4fdb-8efe-926fd659ed34",
  "meta": {
    "instanceId": "6c24ae46ed49e5a9d5d8ba7592fca8d99cfd7862342604072d992145ba053b78"
  },
  "id": "reMCi2uVwGUHnLHU",
  "tags": []
}