n8n-json/ZNS BON Token Refresh.json
{
  "name": "ZNS BON Token Refresh",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "secret_key",
              "value": "=YOUR_ZALO_BON_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "29644118971927106"
            },
            {
              "name": "grant_type",
              "value": "=authorization_code"
            },
            {
              "name": "code_verifier",
              "value": "tIERIg64OyIV9AI3BzdWIqx6mIyEivlxrEbVkRTeqfN"
            },
            {
              "name": "redirect_uri",
              "value": "https://bonstu.site/webhook/zns-bon-done"
            },
            {
              "name": "code",
              "value": "={{$json[\"query\"][\"code\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        -896
      ],
      "id": "7c9bceca-bfa9-48af-b77d-7d7dd491d9e8",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "path": "rating-bon-get-token",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        -896
      ],
      "id": "f0876922-336f-4aab-bbe0-9eda28cad37e",
      "name": "Webhook1",
      "webhookId": "5bcd0bf1-6724-40f8-8a0f-e1efc33f2bad",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Wd9KEYfFqZmyeGqV",
          "mode": "list",
          "cachedResultName": "zalo_tokens_BON",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/Wd9KEYfFqZmyeGqV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "refresh_token": "={{ JSON.parse($json[\"data\"]).refresh_token }}",
            "access_token": "={{ JSON.parse($json[\"data\"]).access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        -352
      ],
      "id": "c248ac0c-9d67-434f-b9a1-e09e67095b86",
      "name": "Get Refresh"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Wd9KEYfFqZmyeGqV",
          "mode": "list",
          "cachedResultName": "zalo_tokens_BON",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/Wd9KEYfFqZmyeGqV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -736,
        -352
      ],
      "id": "a30c0010-9f65-43fd-95b1-b9e6d317b9aa",
      "name": "Get Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "secret_key",
              "value": "YOUR_ZALO_BON_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "29644118971927106"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$json.refresh_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        -352
      ],
      "id": "f10d11b7-5f7c-45a6-b4bb-6d47ace589cc",
      "name": "Get Refresh Token"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || {};\n\n  // ---------- PHONE NORMALIZE ----------\n  let phone = body.x_studio_phone || \"\";\n  phone = phone.replace(/\\D/g, \"\");      // remove non-digits\n\n  if (phone.startsWith(\"0\")) {\n    phone = \"+84\" + phone.slice(1);\n  }\n  item.json.zalo_phone = phone;\n\n  // ---------- DATE FORMAT DD/MM/YYYY ----------\n  const rawDate = body.date_order;       // e.g. \"2025-11-17 02:40:31\"\n  if (rawDate) {\n    const d = new Date(rawDate.replace(\" \", \"T\"));\n    const dd = String(d.getDate()).padStart(2, \"0\");\n    const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n    const yyyy = d.getFullYear();\n    item.json.date_ddmmyyyy = `${dd}/${mm}/${yyyy}`;   // → \"17/11/2025\"\n  } else {\n    item.json.date_ddmmyyyy = \"\";\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        64
      ],
      "id": "3ab6b42a-e78f-4352-ba29-f17f132e1736",
      "name": "Normalize Phone"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Wd9KEYfFqZmyeGqV",
          "mode": "list",
          "cachedResultName": "zalo_tokens_BON",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/Wd9KEYfFqZmyeGqV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "zalo_phone": "={{ $json.zalo_phone }}",
            "Date": "={{ $json.date_ddmmyyyy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BG",
              "displayName": "BG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "zalo_phone",
              "displayName": "zalo_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        64
      ],
      "id": "184d6b2c-d5c3-4afa-833d-9e5bcaef8cf0",
      "name": "Update Phone Number"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Wd9KEYfFqZmyeGqV",
          "mode": "list",
          "cachedResultName": "zalo_tokens_BON",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/Wd9KEYfFqZmyeGqV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $json.body.x_studio_tn_khch_hng }}",
            "BG": "={{ $json.body.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "zalo_phone",
              "displayName": "zalo_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BG",
              "displayName": "BG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        -144
      ],
      "id": "4004f827-78b3-4fd4-8e1a-0232d6a82fad",
      "name": "Update Infomation of BG"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        -160
      ],
      "id": "f5317580-0a46-434e-bbd3-7b1b5dc13b3a",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rating",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -144
      ],
      "id": "64c49c94-bf0b-4be1-b51a-518b09af9f65",
      "name": "Webhook2",
      "webhookId": "6fcf8b2f-ad23-40ce-ab34-2bf66ecec757"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://business.openapi.zalo.me/message/template",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.zalo_phone }}\",\n  \"template_id\": \"463253\",\n  \"template_data\": {\n    \"order_code\": \"{{ $json.BG }}\",\n    \"order_date\": \"{{ $json.Date }}\",\n    \"customer_name\": \"{{ $json.user }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -144
      ],
      "id": "f233661a-dc64-46bf-a4de-c43a0c779ebe",
      "name": "Send ZNS",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Get Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh Token": {
      "main": [
        [
          {
            "node": "Get Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone": {
      "main": [
        [
          {
            "node": "Update Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Phone Number": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Infomation of BG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Update Infomation of BG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send ZNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "aa2ccaf8-1251-4688-b208-3bb3c6b9f557",
  "meta": {
    "instanceId": "6c24ae46ed49e5a9d5d8ba7592fca8d99cfd7862342604072d992145ba053b78"
  },
  "id": "wdAhR8gf9PFVrPsj",
  "tags": []
}