n8n-json/ZNS ORD (Đánh giá Vie).json
{
  "name": "ZNS ORD (Đánh giá Vie)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "secret_key",
              "value": "=YOUR_ZALO_ORD_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "2163459737026406066"
            },
            {
              "name": "grant_type",
              "value": "=authorization_code"
            },
            {
              "name": "code_verifier",
              "value": "GO6IIHAxCuiyr0DB8t8ELOgEmqfH5XcAOAGZBx0Nawl"
            },
            {
              "name": "redirect_uri",
              "value": "https://bonstu.site/webhook/zns-done"
            },
            {
              "name": "code",
              "value": "={{$json[\"query\"][\"code\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        -560
      ],
      "id": "0f569764-58c8-4de6-9dac-f685c8a03532",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://business.openapi.zalo.me/message/template",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.zalo_phone }}\",\n  \"template_id\": \"510308\",\n  \"template_data\": {\n    \"order_code\": \"{{ $json.BG }}\",\n    \"order_date\": \"{{ $json.Date }}\",\n    \"name\": \"{{ $json.user }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -128
      ],
      "id": "b13d4110-1c11-44eb-88df-c5983777f852",
      "name": "Send ZNS",
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "8c6e6f1b-f2a8-4c96-a11f-1f3a425193b1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -560
      ],
      "id": "de42918b-9639-4bbb-979d-a365da95853c",
      "name": "Webhook1",
      "webhookId": "8c6e6f1b-f2a8-4c96-a11f-1f3a425193b1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "refresh_token": "={{ JSON.parse($json[\"data\"]).refresh_token }}",
            "access_token": "={{ JSON.parse($json[\"data\"]).access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        -352
      ],
      "id": "2c876b14-043e-4f6b-9e7f-861ddcadc2b3",
      "name": "Get Refresh"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rating-ord-vie",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -128
      ],
      "id": "1c3f7ca1-ad94-489b-a834-ead555c8a402",
      "name": "Webhook2",
      "webhookId": "22756262-c61c-46f4-bbe6-47b09c79c64b"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        -144
      ],
      "id": "e9fc6b89-226d-485e-b42a-7fbb6256e14d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -736,
        -352
      ],
      "id": "842afd0b-c39d-4d61-b18b-90ef1d8b3e53",
      "name": "Get Token"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $json.body.x_studio_tn_khch_hng }}",
            "BG": "={{ $json.body.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "zalo_phone",
              "displayName": "zalo_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BG",
              "displayName": "BG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        -128
      ],
      "id": "557746da-39bd-41f9-8f4f-2f5bbbdc28dd",
      "name": "Update Infomation of BG"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3zSwHlEPnDMKyp7A",
          "mode": "list",
          "cachedResultName": "zalo_tokens_ORD",
          "cachedResultUrl": "/projects/KJt13vLJkKJx1G6p/datatables/3zSwHlEPnDMKyp7A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "zalo_phone": "={{ $json.zalo_phone }}",
            "Date": "={{ $json.date_ddmmyyyy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "zalo_phone",
              "displayName": "zalo_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "BG",
              "displayName": "BG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -400,
        64
      ],
      "id": "33f68ce3-5987-4552-9706-0d5b86bc444a",
      "name": "Update Phone Number"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "secret_key",
              "value": "YOUR_ZALO_ORD_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "2163459737026406066"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$json.refresh_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        -352
      ],
      "id": "86220c43-8ebe-4ddb-aca4-475c7d3d23ee",
      "name": "Get Refresh Token"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || {};\n\n  // ---------- PHONE NORMALIZE ----------\n  let phone = body.x_studio_phone || \"\";\n  phone = phone.replace(/\\D/g, \"\");      // remove non-digits\n\n  if (phone.startsWith(\"0\")) {\n    phone = \"+84\" + phone.slice(1);\n  }\n  item.json.zalo_phone = phone;\n\n  // ---------- DATE FORMAT DD/MM/YYYY ----------\n  const rawDate = body.date_order;       // e.g. \"2025-11-17 02:40:31\"\n  if (rawDate) {\n    const d = new Date(rawDate.replace(\" \", \"T\"));\n    const dd = String(d.getDate()).padStart(2, \"0\");\n    const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n    const yyyy = d.getFullYear();\n    item.json.date_ddmmyyyy = `${dd}/${mm}/${yyyy}`;   // → \"17/11/2025\"\n  } else {\n    item.json.date_ddmmyyyy = \"\";\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        64
      ],
      "id": "7aa3622c-da4b-406f-947c-3bea7401cce7",
      "name": "Normalize Phone"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Infomation of BG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send ZNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Get Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Infomation of BG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update Phone Number": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh Token": {
      "main": [
        [
          {
            "node": "Get Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone": {
      "main": [
        [
          {
            "node": "Update Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "12b9a144-7687-4408-bf17-8445f1b203fd",
  "meta": {
    "instanceId": "6c24ae46ed49e5a9d5d8ba7592fca8d99cfd7862342604072d992145ba053b78"
  },
  "id": "mOgpPlGugV9i5VDD",
  "tags": []
}